<html>
<title></title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        pre {
            display: inline;
        }
    </style>
</head>

<body>
    <a href="{%url 'meetatt:index' %}"> <span>&#8592;</span> Back</a><br />
    <center>
        <fieldset>
            <form>
                <input required type="text" placeholder="Enter total No of Students" name="i" />
            </form>

            <form class="fo" action="" method="POST">
                {% csrf_token %}
                <pre><h3>Name              Rno </h3></pre>

                {%for i in y %}
                <pre><input required placeholder="name" type="text" name="{{i}}">              <input required placeholder="rno" type="text" name="rno{{i}}"></pre>
                <br />
                <br />
                {%endfor%}
                <button type="submit">Submit</button>
            </form>
        </fieldset>
    </center>
</body>

</html>